<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kb.workbook">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.TestActivity">
        </activity>
        <activity android:name=".activity.ImageTestActivity">
        </activity>
        <activity android:name=".activity.FrescoActivity">
        </activity>
        <activity android:name=".activity.HomeActivity">
        </activity>
        <activity android:name=".activity.PicSelectActivity">
        </activity>

        <!-- Image Selector Entry -->
        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.TaskActivity">
        </activity>
        <activity android:name=".activity.test.LeakMemoryActivity">
        </activity>
        <activity android:name=".activity.AnimActivity">
        </activity>
        <activity android:name=".activity.bookdevart.BookDevArtActivity">
        </activity>
        <activity android:name=".activity.bookdevart.ActivityLifeActivity">
        </activity>
        <activity android:name=".activity.bookdevart.LaunchModeActivity">
        </activity>
        <activity android:name=".activity.bookdevart.AActivity">
        </activity>
        <activity
            android:name=".activity.bookdevart.BActivity"
            android:launchMode="singleTop">
        </activity>
        <activity android:name=".activity.baseframe.ToastActivity">
        </activity>
        <activity android:name=".activity.baseframe.FrameworkActivity">
        </activity>
        <activity android:name=".activity.mall.MallActivity">
        </activity>
        <activity android:name=".activity.mall.TextViewActivity">
        </activity>
        <activity android:name=".activity.mall.JavaTestActivity">
        </activity>
        <activity android:name=".activity.interview.InterviewContentActivity">
        </activity>
        <activity android:name=".activity.interview.Chapter2Activity">
        </activity>
        <activity android:name=".activity.interview.Chapter13Activity">
        </activity>
        <activity android:name=".activity.idea.RefreshActivity">
        </activity>
        <activity android:name=".activity.idea.IdeaActivity">
        </activity>
        <activity android:name=".activity.bookdevart.EventActivity">
        </activity>
        <activity android:name=".activity.mall.TipHideActivity">
        </activity>
        <activity android:name=".activity.mall.MagicIndicatorActivity">
        </activity>
        <activity android:name=".activity.mall.TabLayoutActivity">
        </activity>
        <activity android:name=".activity.mall.FenLeiActivity">
        </activity>
        <activity android:name=".activity.test.GsonActivity">
        </activity>
        <activity android:name=".activity.bookdevart.Event2Activity">
        </activity>
        <activity android:name=".activity.test.TestListActivity">
        </activity>
        <activity android:name=".activity.test.LeakActivity">
        </activity>
        <activity android:name=".activity.mall.HomeRedPointActivity">
        </activity>
    </application>

</manifest>